<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:sqlserver://190.147.208.155;databaseName=CREZCAMOS</property>
        <property name="connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
        <property name="hibernate.dialect">com.ciberdix.th.configuration.CiberdixSqlDialect</property>
        <property name="dialect">com.ciberdix.th.configuration.CiberdixSqlDialect</property>

        <!-- Desde Aqui Comienza el Mapeo de los nuevos Objetos -->

        <mapping class="com.ciberdix.th.models.Adjuntos"/>
        <mapping class="com.ciberdix.th.models.Auditorias"/>
        <mapping class="com.ciberdix.th.models.Beneficios"/>
        <mapping class="com.ciberdix.th.models.BeneficiosRequisitos"/>
        <mapping class="com.ciberdix.th.models.BeneficiosSolicitudes"/>
        <mapping class="com.ciberdix.th.models.BeneficiosSolicitudesEvaluaciones"/>
        <mapping class="com.ciberdix.th.models.Capacitaciones"/>
        <mapping class="com.ciberdix.th.models.CapacitacionesCapacitadores"/>
        <mapping class="com.ciberdix.th.models.CapacitacionesCompetencias"/>
        <mapping class="com.ciberdix.th.models.CapacitacionesGruposPreguntas"/>
        <mapping class="com.ciberdix.th.models.CapacitacionesPreguntas"/>
        <mapping class="com.ciberdix.th.models.Cargos"/>
        <mapping class="com.ciberdix.th.models.CargosCompetencias"/>
        <mapping class="com.ciberdix.th.models.CargosCriterios"/>
        <mapping class="com.ciberdix.th.models.CargosElementos"/>
        <mapping class="com.ciberdix.th.models.CargosFactoresRiesgos"/>
        <mapping class="com.ciberdix.th.models.CargosGruposDotaciones"/>
        <mapping class="com.ciberdix.th.models.CargosPersonalidadAtributos"/>
        <mapping class="com.ciberdix.th.models.CargosProductividades"/>
        <mapping class="com.ciberdix.th.models.CargosProfesiones"/>
        <mapping class="com.ciberdix.th.models.CargosRelacionados"/>
        <mapping class="com.ciberdix.th.models.CargosResponsabilidades"/>
        <mapping class="com.ciberdix.th.models.CargosRiesgos"/>
        <mapping class="com.ciberdix.th.models.CargosRolesProcesos"/>
        <mapping class="com.ciberdix.th.models.Categorias"/>
        <mapping class="com.ciberdix.th.models.CentrosCostos"/>
        <mapping class="com.ciberdix.th.models.Competencias"/>
        <mapping class="com.ciberdix.th.models.Constantes"/>
        <mapping class="com.ciberdix.th.models.Criterios"/>
        <mapping class="com.ciberdix.th.models.Cuestionarios"/>
        <mapping class="com.ciberdix.th.models.CuestionariosPreguntas"/>
        <mapping class="com.ciberdix.th.models.DiagnosticosCie"/>
        <mapping class="com.ciberdix.th.models.DivisionPolitica"/>
        <mapping class="com.ciberdix.th.models.DivisionPoliticaAreas"/>
        <mapping class="com.ciberdix.th.models.DivisionPoliticaComunas"/>
        <mapping class="com.ciberdix.th.models.DivisionPoliticaLocalidades"/>
        <mapping class="com.ciberdix.th.models.DivisionPoliticaResguardos"/>
        <mapping class="com.ciberdix.th.models.DivisionPoliticaTipos"/>
        <mapping class="com.ciberdix.th.models.Dotaciones"/>
        <mapping class="com.ciberdix.th.models.Empresas"/>
        <mapping class="com.ciberdix.th.models.EstructuraAreas"/>
        <mapping class="com.ciberdix.th.models.ExamenesPromociones"/>
        <mapping class="com.ciberdix.th.models.ExamenesPromocionesPreguntas"/>
        <mapping class="com.ciberdix.th.models.ExamenesPromocionesPreguntasRespuestas"/>
        <mapping class="com.ciberdix.th.models.Faltas"/>
        <mapping class="com.ciberdix.th.models.GruposCompetencias"/>
        <mapping class="com.ciberdix.th.models.GruposDotaciones"/>
        <mapping class="com.ciberdix.th.models.GruposFormaciones"/>
        <mapping class="com.ciberdix.th.models.GruposGestion"/>
        <mapping class="com.ciberdix.th.models.Listas"/>
        <mapping class="com.ciberdix.th.models.ListasAreasEstudios"/>
        <mapping class="com.ciberdix.th.models.ListasClasesViviendas"/>
        <mapping class="com.ciberdix.th.models.ListasEstadosBeneficios"/>
        <mapping class="com.ciberdix.th.models.ListasEstadosCiviles"/>
        <mapping class="com.ciberdix.th.models.ListasEstadosEstudios"/>
        <mapping class="com.ciberdix.th.models.ListasEstadosFaltas"/>
        <mapping class="com.ciberdix.th.models.ListasFactoresRh"/>
        <mapping class="com.ciberdix.th.models.ListasGeneros"/>
        <mapping class="com.ciberdix.th.models.ListasInstituciones"/>
        <mapping class="com.ciberdix.th.models.ListasIntensidades"/>
        <mapping class="com.ciberdix.th.models.ListasLateralidades"/>
        <mapping class="com.ciberdix.th.models.ListasMarcasVehiculos"/>
        <mapping class="com.ciberdix.th.models.ListasNivelesCargos"/>
        <mapping class="com.ciberdix.th.models.ListasNivelesEstudios"/>
        <mapping class="com.ciberdix.th.models.ListasParentescos"/>
        <mapping class="com.ciberdix.th.models.ListasTiposAfiliacion"/>
        <mapping class="com.ciberdix.th.models.ListasTiposArchivos"/>
        <mapping class="com.ciberdix.th.models.ListasTiposContratos"/>
        <mapping class="com.ciberdix.th.models.ListasTiposDatos"/>
        <mapping class="com.ciberdix.th.models.ListasTiposDirecciones"/>
        <mapping class="com.ciberdix.th.models.ListasTiposDocumentos"/>
        <mapping class="com.ciberdix.th.models.ListasTiposEstudios"/>
        <mapping class="com.ciberdix.th.models.ListasTiposFaltas"/>
        <mapping class="com.ciberdix.th.models.ListasTiposNomenclaturas"/>
        <mapping class="com.ciberdix.th.models.ListasTiposNomenclaturasComplementarias"/>
        <mapping class="com.ciberdix.th.models.ListasTiposPagos"/>
        <mapping class="com.ciberdix.th.models.ListasTiposPersonas"/>
        <mapping class="com.ciberdix.th.models.ListasTiposPreguntas"/>
        <mapping class="com.ciberdix.th.models.ListasTiposReferencias"/>
        <mapping class="com.ciberdix.th.models.ListasTiposServiciosVehiculos"/>
        <mapping class="com.ciberdix.th.models.ListasTiposVehiculos"/>
        <mapping class="com.ciberdix.th.models.ListasTiposViviendas"/>
        <mapping class="com.ciberdix.th.models.Localizaciones"/>
        <mapping class="com.ciberdix.th.models.Materias"/>
        <mapping class="com.ciberdix.th.models.Menus"/>
        <mapping class="com.ciberdix.th.models.Ocupaciones"/>
        <mapping class="com.ciberdix.th.models.OcupacionesTipos"/>
        <mapping class="com.ciberdix.th.models.Procesos"/>
        <mapping class="com.ciberdix.th.models.Profesiones"/>
        <mapping class="com.ciberdix.th.models.Proveedores"/>
        <mapping class="com.ciberdix.th.models.ProveedoresServicios"/>
        <mapping class="com.ciberdix.th.models.Requerimientos"/>
        <mapping class="com.ciberdix.th.models.RequerimientosActividades"/>
        <mapping class="com.ciberdix.th.models.RequerimientosAspirantes"/>
        <mapping class="com.ciberdix.th.models.RequerimientosCompras"/>
        <mapping class="com.ciberdix.th.models.RequerimientosPreguntas"/>
        <mapping class="com.ciberdix.th.models.RequerimientosTics"/>
        <mapping class="com.ciberdix.th.models.Responsabilidades"/>
        <mapping class="com.ciberdix.th.models.Riesgos"/>
        <mapping class="com.ciberdix.th.models.RiesgosSubTipos"/>
        <mapping class="com.ciberdix.th.models.RiesgosTipos"/>
        <mapping class="com.ciberdix.th.models.Roles"/>
        <mapping class="com.ciberdix.th.models.Temas"/>
        <mapping class="com.ciberdix.th.models.Terceros"/>
        <mapping class="com.ciberdix.th.models.TercerosAdaptacionesLaborales"/>
        <mapping class="com.ciberdix.th.models.TercerosAdaptacionesLaboralesAdjuntos"/>
        <mapping class="com.ciberdix.th.models.TercerosBeneficios"/>
        <mapping class="com.ciberdix.th.models.TercerosCapacitaciones"/>
        <mapping class="com.ciberdix.th.models.TercerosCargos"/>
        <mapping class="com.ciberdix.th.models.TercerosDisciplinarios"/>
        <mapping class="com.ciberdix.th.models.TercerosDisciplinariosActividades"/>
        <mapping class="com.ciberdix.th.models.TercerosDisciplinariosAdjuntos"/>
        <mapping class="com.ciberdix.th.models.TercerosDotaciones"/>
        <mapping class="com.ciberdix.th.models.TercerosDotacionesEntregas"/>
        <mapping class="com.ciberdix.th.models.TercerosEstudiosFormales"/>
        <mapping class="com.ciberdix.th.models.TercerosEstudiosNoFormales"/>
        <mapping class="com.ciberdix.th.models.TercerosEvaluaciones"/>
        <mapping class="com.ciberdix.th.models.TercerosEvaluacionesCompetencias"/>
        <mapping class="com.ciberdix.th.models.TercerosEvaluacionesCriterios"/>
        <mapping class="com.ciberdix.th.models.TercerosExamenes"/>
        <mapping class="com.ciberdix.th.models.TercerosExamenesAdjuntos"/>
        <mapping class="com.ciberdix.th.models.TercerosExamenesPromociones"/>
        <mapping class="com.ciberdix.th.models.TercerosExperienciasLaborales"/>
        <mapping class="com.ciberdix.th.models.TercerosFamiliares"/>
        <mapping class="com.ciberdix.th.models.TercerosLocalizaciones"/>
        <mapping class="com.ciberdix.th.models.TercerosMaterias"/>
        <mapping class="com.ciberdix.th.models.TercerosNovedades"/>
        <mapping class="com.ciberdix.th.models.TercerosNovedadesAdjuntos"/>
        <mapping class="com.ciberdix.th.models.TercerosNovedadesCampos"/>
        <mapping class="com.ciberdix.th.models.TercerosNovedadesPlanes"/>
        <mapping class="com.ciberdix.th.models.TercerosReferencias"/>
        <mapping class="com.ciberdix.th.models.TercerosRituales"/>
        <mapping class="com.ciberdix.th.models.TercerosRitualesCriterios"/>
        <mapping class="com.ciberdix.th.models.TiposNovedades"/>
        <mapping class="com.ciberdix.th.models.TiposNovedadesCampos"/>
        <mapping class="com.ciberdix.th.models.UsuarioGruposGestion"/>
        <mapping class="com.ciberdix.th.models.UsuarioRoles"/>
        <mapping class="com.ciberdix.th.models.Usuarios"/>
        <mapping class="com.ciberdix.th.models.VDivisionPolitica"/>
        <mapping class="com.ciberdix.th.models.VDivisionPoliticaRec"/>
        <mapping class="com.ciberdix.th.models.VTercerosFamiliares"/>
        <mapping class="com.ciberdix.th.models.VTercerosReferencias"/>
        <mapping class="com.ciberdix.th.models.ActividadesEconomicas"/>
        <mapping class="com.ciberdix.th.models.ActividadesEconomicasTipos"/>
        <mapping class="com.ciberdix.th.models.ListasCoberturasSalud"/>
        <mapping class="com.ciberdix.th.models.ListasEstadosJuridicos"/>
        <mapping class="com.ciberdix.th.models.ListasTiposOcupaciones"/>
        <mapping class="com.ciberdix.th.models.VTerceros"/>
        <mapping class="com.ciberdix.th.models.VTercerosEstudiosFormales"/>
        <mapping class="com.ciberdix.th.models.VTercerosEstudiosNoFormales"/>
        <mapping class="com.ciberdix.th.models.VTercerosExperienciasLaborales"/>
        <mapping class="com.ciberdix.th.models.VLocalizaciones"/>
        <mapping class="com.ciberdix.th.models.ListasTiposTerceros"/>
        <mapping class="com.ciberdix.th.models.VConstantes"/>
        <mapping class="com.ciberdix.th.models.ListasTallas"/>
        <mapping class="com.ciberdix.th.models.ListasEstratos"/>
        <mapping class="com.ciberdix.th.models.ListasTiposConstruccionViviendas"/>
        <mapping class="com.ciberdix.th.models.TercerosContactos"/>
        <mapping class="com.ciberdix.th.models.TercerosDatosClinicos"/>
        <mapping class="com.ciberdix.th.models.TercerosInmuebles"/>
        <mapping class="com.ciberdix.th.models.TercerosVehiculos"/>
        <mapping class="com.ciberdix.th.models.VTercerosVehiculos"/>
        <mapping class="com.ciberdix.th.models.VTercerosInmuebles"/>
        <mapping class="com.ciberdix.th.models.VHistoricoUsuarios"/>
        <mapping class="com.ciberdix.th.models.VUsuarioGruposGestion"/>
        <mapping class="com.ciberdix.th.models.VUsuarioRoles"/>
        <mapping class="com.ciberdix.th.models.VUsuarioRolesCantidad"/>
        <mapping class="com.ciberdix.th.models.VUsuarios"/>
        <mapping class="com.ciberdix.th.models.VTercerosDatosClinicos"/>
        <mapping class="com.ciberdix.th.models.VTercerosContactos"/>
        <mapping class="com.ciberdix.th.models.TercerosResidencias"/>
        <mapping class="com.ciberdix.th.models.ListasEstadosCargos"/>
        <mapping class="com.ciberdix.th.models.ListasTiposNovedades"/>
        <mapping class="com.ciberdix.th.models.VFaltas"/>
        <mapping class="com.ciberdix.th.models.CargosOcupaciones"/>
        <mapping class="com.ciberdix.th.models.ListasAtributosCargos"/>
        <mapping class="com.ciberdix.th.models.ListasTiposCargosRelaciones"/>
        <mapping class="com.ciberdix.th.models.Ponderaciones"/>
        <mapping class="com.ciberdix.th.models.Productividades"/>
        <mapping class="com.ciberdix.th.models.VCargos"/>
        <mapping class="com.ciberdix.th.models.CargosExamenes"/>
        <mapping class="com.ciberdix.th.models.ListasExamenes"/>
        <mapping class="com.ciberdix.th.models.VCargosRiesgos"/>
        <mapping class="com.ciberdix.th.models.CargosEstadosObservaciones"/>
        <mapping class="com.ciberdix.th.models.VCargosResponsabilidades"/>
        <mapping class="com.ciberdix.th.models.VCargosExamenes"/>
        <mapping class="com.ciberdix.th.models.VCargosRolesProcesos"/>
        <mapping class="com.ciberdix.th.models.ListasRolesProceso"/>
        <mapping class="com.ciberdix.th.models.VCargosElementos"/>
        <mapping class="com.ciberdix.th.models.ListasTiposElementos"/>
        <mapping class="com.ciberdix.th.models.VRiesgos"/>
        <mapping class="com.ciberdix.th.models.EstructuraOrganizacional"/>
        <mapping class="com.ciberdix.th.models.ListasTiposEstructuras"/>
        <mapping class="com.ciberdix.th.models.EstructuraFisica"/>
        <mapping class="com.ciberdix.th.models.EstructuraOrganizacionalCargos"/>
        <mapping class="com.ciberdix.th.models.ListasClasificacionesSedes"/>
        <mapping class="com.ciberdix.th.models.Zonas"/>
        <mapping class="com.ciberdix.th.models.VEstructuraOrganizacional"/>
        <mapping class="com.ciberdix.th.models.VEstructuraFisica"/>
        <mapping class="com.ciberdix.th.models.VEstructuraOrganizacionalCargos"/>
        <mapping class="com.ciberdix.th.models.VTercerosCargos"/>
        <mapping class="com.ciberdix.th.models.Funcionalidades"/>
        <mapping class="com.ciberdix.th.models.FuncionalidadesControles"/>
        <mapping class="com.ciberdix.th.models.ListasClasificaciones"/>
        <mapping class="com.ciberdix.th.models.RolesFuncionalidades"/>
        <mapping class="com.ciberdix.th.models.RolesFuncionalidadesControles"/>
        <mapping class="com.ciberdix.th.models.RolesWidgets"/>
        <mapping class="com.ciberdix.th.models.UsuariosWidgets"/>
        <mapping class="com.ciberdix.th.models.Widgets"/>
        <mapping class="com.ciberdix.th.models.ListasEstadosProyecciones"/>
        <mapping class="com.ciberdix.th.models.ProyeccionesLaborales"/>
        <mapping class="com.ciberdix.th.models.VActividadesEconomicas"/>
        <mapping class="com.ciberdix.th.models.VProyeccionLaboral"/>
        <mapping class="com.ciberdix.th.models.VProyeccionLaboralResumen"/>
        <mapping class="com.ciberdix.th.models.VRolesFuncionalidades"/>
        <mapping class="com.ciberdix.th.models.VRolesFuncionalidadesControles"/>
        <mapping class="com.ciberdix.th.models.VFuncionalidades"/>
        <mapping class="com.ciberdix.th.models.VFuncionalidadesControles"/>
        <mapping class="com.ciberdix.th.models.VRolesWidgets"/>
        <mapping class="com.ciberdix.th.models.VPolicyRules"/>
        <mapping class="com.ciberdix.th.models.VUsuariosWidgets"/>
        <mapping class="com.ciberdix.th.models.VRequerimientos"/>
        <mapping class="com.ciberdix.th.models.RequerimientosReferidos"/>
        <mapping class="com.ciberdix.th.models.RequerimientosAcciones"/>
        <mapping class="com.ciberdix.th.models.ListasFormasReclutamientos"/>
        <mapping class="com.ciberdix.th.models.VTercerosCargosAreasFisicas"/>
        <mapping class="com.ciberdix.th.models.RequerimientosHistoricos"/>
        <mapping class="com.ciberdix.th.models.VRequerimientosCompras"/>

        <!-- DB schema will be updated if needed -->
        <!-- <property name="hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>