<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:sqlserver://40.71.25.236:1433;databaseName=CREZCAMOS</property>
        <property name="connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
        <mapping class="com.ciberdix.th.models.AdjuntosEntity"/>
        <mapping class="com.ciberdix.th.models.AreasEntity"/>
        <mapping class="com.ciberdix.th.models.AuditoriasEntity"/>
        <mapping class="com.ciberdix.th.models.BeneficiosEntity"/>
        <mapping class="com.ciberdix.th.models.BeneficiosRequisitosEntity"/>
        <mapping class="com.ciberdix.th.models.BeneficiosSolicitudesEntity"/>
        <mapping class="com.ciberdix.th.models.BeneficiosSolicitudesEvaluacionesEntity"/>
        <mapping class="com.ciberdix.th.models.CapacitacionesEntity"/>
        <mapping class="com.ciberdix.th.models.CapacitacionesCapacitadoresEntity"/>
        <mapping class="com.ciberdix.th.models.CapacitacionesCompetenciasEntity"/>
        <mapping class="com.ciberdix.th.models.CapacitacionesGruposPreguntasEntity"/>
        <mapping class="com.ciberdix.th.models.CapacitacionesPreguntasEntity"/>
        <mapping class="com.ciberdix.th.models.CargosEntity"/>
        <mapping class="com.ciberdix.th.models.CargosCompetenciasEntity"/>
        <mapping class="com.ciberdix.th.models.CargosCriteriosEntity"/>
        <mapping class="com.ciberdix.th.models.CargosElementosEntity"/>
        <mapping class="com.ciberdix.th.models.CargosFactoresRiesgosEntity"/>
        <mapping class="com.ciberdix.th.models.CargosGruposDotacionesEntity"/>
        <mapping class="com.ciberdix.th.models.CargosIqNivelesEntity"/>
        <mapping class="com.ciberdix.th.models.CargosNivelesAptitudesEntity"/>
        <mapping class="com.ciberdix.th.models.CargosPersonalidadAtributosEntity"/>
        <mapping class="com.ciberdix.th.models.CargosProductividadesEntity"/>
        <mapping class="com.ciberdix.th.models.CargosProfesionesEntity"/>
        <mapping class="com.ciberdix.th.models.CargosRelacionadosEntity"/>
        <mapping class="com.ciberdix.th.models.CargosResponsabilidadesEntity"/>
        <mapping class="com.ciberdix.th.models.CargosRiesgosEntity"/>
        <mapping class="com.ciberdix.th.models.CargosRolesProcesosEntity"/>
        <mapping class="com.ciberdix.th.models.CategoriasEntity"/>
        <mapping class="com.ciberdix.th.models.CentrosCostosEntity"/>
        <mapping class="com.ciberdix.th.models.CentrosPobladosEntity"/>
        <mapping class="com.ciberdix.th.models.CompetenciasEntity"/>
        <mapping class="com.ciberdix.th.models.ConstantesEntity"/>
        <mapping class="com.ciberdix.th.models.CriteriosEntity"/>
        <mapping class="com.ciberdix.th.models.CuestionariosEntity"/>
        <mapping class="com.ciberdix.th.models.CuestionariosPreguntasEntity"/>
        <mapping class="com.ciberdix.th.models.DiagnosticosCieEntity"/>
        <mapping class="com.ciberdix.th.models.DotacionesEntity"/>
        <mapping class="com.ciberdix.th.models.EmpresasEntity"/>
        <mapping class="com.ciberdix.th.models.EstructuraAreasEntity"/>
        <mapping class="com.ciberdix.th.models.ExamenesPromocionesEntity"/>
        <mapping class="com.ciberdix.th.models.ExamenesPromocionesPreguntasEntity"/>
        <mapping class="com.ciberdix.th.models.ExamenesPromocionesPreguntasRespuestasEntity"/>
        <mapping class="com.ciberdix.th.models.FaltasEntity"/>
        <mapping class="com.ciberdix.th.models.FormulariosEntity"/>
        <mapping class="com.ciberdix.th.models.FormulariosElementosEntity"/>
        <mapping class="com.ciberdix.th.models.GruposCompetenciasEntity"/>
        <mapping class="com.ciberdix.th.models.GruposDotacionesEntity"/>
        <mapping class="com.ciberdix.th.models.GruposFormacionesEntity"/>
        <mapping class="com.ciberdix.th.models.GruposGestionEntity"/>
        <mapping class="com.ciberdix.th.models.ListasEntity"/>
        <mapping class="com.ciberdix.th.models.ListasItemsEntity"/>
        <mapping class="com.ciberdix.th.models.LocalizacionesEntity"/>
        <mapping class="com.ciberdix.th.models.MateriasEntity"/>
        <mapping class="com.ciberdix.th.models.MenusEntity"/>
        <mapping class="com.ciberdix.th.models.MenusElementosEntity"/>
        <mapping class="com.ciberdix.th.models.PaisesEntity"/>
        <mapping class="com.ciberdix.th.models.ProcesosEntity"/>
        <mapping class="com.ciberdix.th.models.ProfesionesEntity"/>
        <mapping class="com.ciberdix.th.models.ProveedoresEntity"/>
        <mapping class="com.ciberdix.th.models.ProveedoresServiciosEntity"/>
        <mapping class="com.ciberdix.th.models.ProyeccionesEntity"/>
        <mapping class="com.ciberdix.th.models.RequerimientosEntity"/>
        <mapping class="com.ciberdix.th.models.RequerimientosActividadesEntity"/>
        <mapping class="com.ciberdix.th.models.RequerimientosAspirantesEntity"/>
        <mapping class="com.ciberdix.th.models.RequerimientosComprasEntity"/>
        <mapping class="com.ciberdix.th.models.RequerimientosPreguntasEntity"/>
        <mapping class="com.ciberdix.th.models.RequerimientosReferidosEntity"/>
        <mapping class="com.ciberdix.th.models.RequerimientosTicsEntity"/>
        <mapping class="com.ciberdix.th.models.ResponsabilidadesEntity"/>
        <mapping class="com.ciberdix.th.models.RiesgosEntity"/>
        <mapping class="com.ciberdix.th.models.RiesgosSubTiposEntity"/>
        <mapping class="com.ciberdix.th.models.RiesgosTiposEntity"/>
        <mapping class="com.ciberdix.th.models.RolesEntity"/>
        <mapping class="com.ciberdix.th.models.RolesMenuElementosEntity"/>
        <mapping class="com.ciberdix.th.models.RolesMenuElementosAccionesEntity"/>
        <mapping class="com.ciberdix.th.models.SedesEntity"/>
        <mapping class="com.ciberdix.th.models.SedesAreasEntity"/>
        <mapping class="com.ciberdix.th.models.SedesAreasCargosEntity"/>
        <mapping class="com.ciberdix.th.models.SedesCentrosCostosEntity"/>
        <mapping class="com.ciberdix.th.models.TemasEntity"/>
        <mapping class="com.ciberdix.th.models.TercerosEntity"/>
        <mapping class="com.ciberdix.th.models.TercerosAdaptacionesLaboralesEntity"/>
        <mapping class="com.ciberdix.th.models.TercerosAdaptacionesLaboralesAdjuntosEntity"/>
        <mapping class="com.ciberdix.th.models.TercerosBeneficiosEntity"/>
        <mapping class="com.ciberdix.th.models.TercerosCapacitacionesEntity"/>
        <mapping class="com.ciberdix.th.models.TercerosCargosEntity"/>
        <mapping class="com.ciberdix.th.models.TercerosDisciplinariosEntity"/>
        <mapping class="com.ciberdix.th.models.TercerosDisciplinariosActividadesEntity"/>
        <mapping class="com.ciberdix.th.models.TercerosDisciplinariosAdjuntosEntity"/>
        <mapping class="com.ciberdix.th.models.TercerosDotacionesEntity"/>
        <mapping class="com.ciberdix.th.models.TercerosDotacionesEntregasEntity"/>
        <mapping class="com.ciberdix.th.models.TercerosEvaluacionesEntity"/>
        <mapping class="com.ciberdix.th.models.TercerosEvaluacionesCompetenciasEntity"/>
        <mapping class="com.ciberdix.th.models.TercerosEvaluacionesCriteriosEntity"/>
        <mapping class="com.ciberdix.th.models.TercerosExamenesEntity"/>
        <mapping class="com.ciberdix.th.models.TercerosExamenesAdjuntosEntity"/>
        <mapping class="com.ciberdix.th.models.TercerosExamenesPromocionesEntity"/>
        <mapping class="com.ciberdix.th.models.TercerosMateriasEntity"/>
        <mapping class="com.ciberdix.th.models.TercerosNovedadesEntity"/>
        <mapping class="com.ciberdix.th.models.TercerosNovedadesAdjuntosEntity"/>
        <mapping class="com.ciberdix.th.models.TercerosNovedadesCamposEntity"/>
        <mapping class="com.ciberdix.th.models.TercerosNovedadesPlanesEntity"/>
        <mapping class="com.ciberdix.th.models.TercerosRitualesEntity"/>
        <mapping class="com.ciberdix.th.models.TercerosRitualesCriteriosEntity"/>
        <mapping class="com.ciberdix.th.models.TiposNovedadesEntity"/>
        <mapping class="com.ciberdix.th.models.TiposNovedadesCamposEntity"/>
        <mapping class="com.ciberdix.th.models.UnidadesTerritorialesEntity"/>
        <mapping class="com.ciberdix.th.models.UsuarioGruposGestionEntity"/>
        <mapping class="com.ciberdix.th.models.UsuarioRolesEntity"/>
        <mapping class="com.ciberdix.th.models.UsuariosEntity"/>
        <mapping class="com.ciberdix.th.models.ZonasEntity"/>
        <mapping class="com.ciberdix.th.models.test.TercerosEntity"/>
        <mapping class="com.ciberdix.th.models.test.TercerosFamiliaresEntity"/>

        <!-- DB schema will be updated if needed -->
        <!-- <property name="hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>