<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:sqlserver://bd-ciberdix.database.windows.net:1433;databaseName=CREZCAMOS</property>
        <property name="connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
        <mapping class="com.ciberdix.th.models.AdjuntosEntity"/>
        <mapping class="com.ciberdix.th.models.AreasEntity"/>
        <mapping class="com.ciberdix.th.models.AuditoriasEntity"/>
        <mapping class="com.ciberdix.th.models.BeneficiosEntity"/>
        <mapping class="com.ciberdix.th.models.BeneficiosRequisitosEntity"/>
        <mapping class="com.ciberdix.th.models.BeneficiosSolicitudesEntity"/>
        <mapping class="com.ciberdix.th.models.BeneficiosSolicitudesEvaluacionesEntity"/>
        <mapping class="com.ciberdix.th.models.CapacitacionesEntity"/>
        <mapping class="com.ciberdix.th.models.CapacitacionesCapacitadoresEntity"/>
        <mapping class="com.ciberdix.th.models.CapacitacionesCompetenciasEntity"/>
        <mapping class="com.ciberdix.th.models.CapacitacionesGruposPreguntasEntity"/>
        <mapping class="com.ciberdix.th.models.CapacitacionesPreguntasEntity"/>
        <mapping class="com.ciberdix.th.models.CargosEntity"/>
        <mapping class="com.ciberdix.th.models.CargosCompetenciasEntity"/>
        <mapping class="com.ciberdix.th.models.CargosCriteriosEntity"/>
        <mapping class="com.ciberdix.th.models.CargosElementosEntity"/>
        <mapping class="com.ciberdix.th.models.CargosFactoresRiesgosEntity"/>
        <mapping class="com.ciberdix.th.models.CargosGruposDotacionesEntity"/>
        <mapping class="com.ciberdix.th.models.CargosIqNivelesEntity"/>
        <mapping class="com.ciberdix.th.models.CargosNivelesAptitudesEntity"/>
        <mapping class="com.ciberdix.th.models.CargosPersonalidadAtributosEntity"/>
        <mapping class="com.ciberdix.th.models.CargosProductividadesEntity"/>
        <mapping class="com.ciberdix.th.models.CargosProfesionesEntity"/>
        <mapping class="com.ciberdix.th.models.CargosRelacionadosEntity"/>
        <mapping class="com.ciberdix.th.models.CargosResponsabilidadesEntity"/>
        <mapping class="com.ciberdix.th.models.CargosRiesgosEntity"/>
        <mapping class="com.ciberdix.th.models.CargosRolesProcesosEntity"/>
        <mapping class="com.ciberdix.th.models.CategoriasEntity"/>
        <mapping class="com.ciberdix.th.models.CentrosCostosEntity"/>
        <mapping class="com.ciberdix.th.models.CentrosPobladosEntity"/>
        <mapping class="com.ciberdix.th.models.CompetenciasEntity"/>
        <mapping class="com.ciberdix.th.models.ConstantesEntity"/>
        <mapping class="com.ciberdix.th.models.CriteriosEntity"/>
        <mapping class="com.ciberdix.th.models.CuestionariosEntity"/>
        <mapping class="com.ciberdix.th.models.CuestionariosPreguntasEntity"/>
        <mapping class="com.ciberdix.th.models.DiagnosticosCieEntity"/>
        <mapping class="com.ciberdix.th.models.DotacionesEntity"/>
        <mapping class="com.ciberdix.th.models.EmpresasEntity"/>
        <mapping class="com.ciberdix.th.models.EstructuraAreasEntity"/>
        <mapping class="com.ciberdix.th.models.ExamenesPromocionesEntity"/>
        <mapping class="com.ciberdix.th.models.ExamenesPromocionesPreguntasEntity"/>
        <mapping class="com.ciberdix.th.models.ExamenesPromocionesPreguntasRespuestasEntity"/>
        <mapping class="com.ciberdix.th.models.FaltasEntity"/>
        <mapping class="com.ciberdix.th.models.FormulariosEntity"/>
        <mapping class="com.ciberdix.th.models.FormulariosElementosEntity"/>
        <mapping class="com.ciberdix.th.models.GruposCompetenciasEntity"/>
        <mapping class="com.ciberdix.th.models.GruposDotacionesEntity"/>
        <mapping class="com.ciberdix.th.models.GruposFormacionesEntity"/>
        <mapping class="com.ciberdix.th.models.GruposGestionEntity"/>
        <mapping class="com.ciberdix.th.models.ListasEntity"/>
        <mapping class="com.ciberdix.th.models.ListasItemsEntity"/>
        <mapping class="com.ciberdix.th.models.LocalizacionesEntity"/>
        <mapping class="com.ciberdix.th.models.MateriasEntity"/>
        <mapping class="com.ciberdix.th.models.MenusEntity"/>
        <mapping class="com.ciberdix.th.models.MenusElementosEntity"/>
        <mapping class="com.ciberdix.th.models.PaisesEntity"/>
        <mapping class="com.ciberdix.th.models.ProcesosEntity"/>
        <mapping class="com.ciberdix.th.models.ProfesionesEntity"/>
        <mapping class="com.ciberdix.th.models.ProveedoresEntity"/>
        <mapping class="com.ciberdix.th.models.ProveedoresServiciosEntity"/>
        <mapping class="com.ciberdix.th.models.ProyeccionesEntity"/>
        <mapping class="com.ciberdix.th.models.RequerimientosEntity"/>
        <mapping class="com.ciberdix.th.models.RequerimientosActividadesEntity"/>
        <mapping class="com.ciberdix.th.models.RequerimientosAspirantesEntity"/>
        <mapping class="com.ciberdix.th.models.RequerimientosComprasEntity"/>
        <mapping class="com.ciberdix.th.models.RequerimientosPreguntasEntity"/>
        <mapping class="com.ciberdix.th.models.RequerimientosReferidosEntity"/>
        <mapping class="com.ciberdix.th.models.RequerimientosTicsEntity"/>
        <mapping class="com.ciberdix.th.models.ResponsabilidadesEntity"/>
        <mapping class="com.ciberdix.th.models.RiesgosEntity"/>
        <mapping class="com.ciberdix.th.models.RiesgosSubTiposEntity"/>
        <mapping class="com.ciberdix.th.models.RiesgosTiposEntity"/>
        <mapping class="com.ciberdix.th.models.RolesEntity"/>
        <mapping class="com.ciberdix.th.models.RolesMenuElementosEntity"/>
        <mapping class="com.ciberdix.th.models.RolesMenuElementosAccionesEntity"/>
        <mapping class="com.ciberdix.th.models.SedesEntity"/>
        <mapping class="com.ciberdix.th.models.SedesAreasEntity"/>
        <mapping class="com.ciberdix.th.models.SedesAreasCargosEntity"/>
        <mapping class="com.ciberdix.th.models.SedesCentrosCostosEntity"/>
        <mapping class="com.ciberdix.th.models.TemasEntity"/>
        <mapping class="com.ciberdix.th.models.TercerosEntity"/>
        <mapping class="com.ciberdix.th.models.TercerosAdaptacionesLaboralesEntity"/>
        <mapping class="com.ciberdix.th.models.TercerosAdaptacionesLaboralesAdjuntosEntity"/>
        <mapping class="com.ciberdix.th.models.TercerosBeneficiosEntity"/>
        <mapping class="com.ciberdix.th.models.TercerosCapacitacionesEntity"/>
        <mapping class="com.ciberdix.th.models.TercerosCargosEntity"/>
        <mapping class="com.ciberdix.th.models.TercerosDisciplinariosEntity"/>
        <mapping class="com.ciberdix.th.models.TercerosDisciplinariosActividadesEntity"/>
        <mapping class="com.ciberdix.th.models.TercerosDisciplinariosAdjuntosEntity"/>
        <mapping class="com.ciberdix.th.models.TercerosDotacionesEntity"/>
        <mapping class="com.ciberdix.th.models.TercerosDotacionesEntregasEntity"/>
        <mapping class="com.ciberdix.th.models.TercerosEvaluacionesEntity"/>
        <mapping class="com.ciberdix.th.models.TercerosEvaluacionesCompetenciasEntity"/>
        <mapping class="com.ciberdix.th.models.TercerosEvaluacionesCriteriosEntity"/>
        <mapping class="com.ciberdix.th.models.TercerosExamenesEntity"/>
        <mapping class="com.ciberdix.th.models.TercerosExamenesAdjuntosEntity"/>
        <mapping class="com.ciberdix.th.models.TercerosExamenesPromocionesEntity"/>
        <mapping class="com.ciberdix.th.models.TercerosMateriasEntity"/>
        <mapping class="com.ciberdix.th.models.TercerosNovedadesEntity"/>
        <mapping class="com.ciberdix.th.models.TercerosNovedadesAdjuntosEntity"/>
        <mapping class="com.ciberdix.th.models.TercerosNovedadesCamposEntity"/>
        <mapping class="com.ciberdix.th.models.TercerosNovedadesPlanesEntity"/>
        <mapping class="com.ciberdix.th.models.TercerosRitualesEntity"/>
        <mapping class="com.ciberdix.th.models.TercerosRitualesCriteriosEntity"/>
        <mapping class="com.ciberdix.th.models.TiposNovedadesEntity"/>
        <mapping class="com.ciberdix.th.models.TiposNovedadesCamposEntity"/>
        <mapping class="com.ciberdix.th.models.UnidadesTerritorialesEntity"/>
        <mapping class="com.ciberdix.th.models.UsuarioGruposGestionEntity"/>
        <mapping class="com.ciberdix.th.models.UsuarioRolesEntity"/>
        <mapping class="com.ciberdix.th.models.UsuariosEntity"/>
        <mapping class="com.ciberdix.th.models.ZonasEntity"/>
        <mapping class="com.ciberdix.th.models.VTercerosFamiliaresEntity"/>
        <mapping class="com.ciberdix.th.models.ListasParentescosEntity"/>
        <mapping class="com.ciberdix.th.models.ListasTiposDocumentosEntity"/>

        <!-- Desde Aqui Comienza el Mapeo de los nuevos Objetos -->

        <mapping class="com.ciberdix.th.models.refactor.Adjuntos"/>
        <mapping class="com.ciberdix.th.models.refactor.Auditorias"/>
        <mapping class="com.ciberdix.th.models.refactor.Beneficios"/>
        <mapping class="com.ciberdix.th.models.refactor.BeneficiosRequisitos"/>
        <mapping class="com.ciberdix.th.models.refactor.BeneficiosSolicitudes"/>
        <mapping class="com.ciberdix.th.models.refactor.BeneficiosSolicitudesEvaluaciones"/>
        <mapping class="com.ciberdix.th.models.refactor.Capacitaciones"/>
        <mapping class="com.ciberdix.th.models.refactor.CapacitacionesCapacitadores"/>
        <mapping class="com.ciberdix.th.models.refactor.CapacitacionesCompetencias"/>
        <mapping class="com.ciberdix.th.models.refactor.CapacitacionesGruposPreguntas"/>
        <mapping class="com.ciberdix.th.models.refactor.CapacitacionesPreguntas"/>
        <mapping class="com.ciberdix.th.models.refactor.Cargos"/>
        <mapping class="com.ciberdix.th.models.refactor.CargosCompetencias"/>
        <mapping class="com.ciberdix.th.models.refactor.CargosCriterios"/>
        <mapping class="com.ciberdix.th.models.refactor.CargosElementos"/>
        <mapping class="com.ciberdix.th.models.refactor.CargosFactoresRiesgos"/>
        <mapping class="com.ciberdix.th.models.refactor.CargosGruposDotaciones"/>
        <mapping class="com.ciberdix.th.models.refactor.CargosIqNiveles"/>
        <mapping class="com.ciberdix.th.models.refactor.CargosNivelesAptitudes"/>
        <mapping class="com.ciberdix.th.models.refactor.CargosPersonalidadAtributos"/>
        <mapping class="com.ciberdix.th.models.refactor.CargosProductividades"/>
        <mapping class="com.ciberdix.th.models.refactor.CargosProfesiones"/>
        <mapping class="com.ciberdix.th.models.refactor.CargosRelacionados"/>
        <mapping class="com.ciberdix.th.models.refactor.CargosResponsabilidades"/>
        <mapping class="com.ciberdix.th.models.refactor.CargosRiesgos"/>
        <mapping class="com.ciberdix.th.models.refactor.CargosRolesProcesos"/>
        <mapping class="com.ciberdix.th.models.refactor.Categorias"/>
        <mapping class="com.ciberdix.th.models.refactor.CentrosCostos"/>
        <mapping class="com.ciberdix.th.models.refactor.Competencias"/>
        <mapping class="com.ciberdix.th.models.refactor.Constantes"/>
        <mapping class="com.ciberdix.th.models.refactor.Criterios"/>
        <mapping class="com.ciberdix.th.models.refactor.Cuestionarios"/>
        <mapping class="com.ciberdix.th.models.refactor.CuestionariosPreguntas"/>
        <mapping class="com.ciberdix.th.models.refactor.DiagnosticosCie"/>
        <mapping class="com.ciberdix.th.models.refactor.DivisionPolitica"/>
        <mapping class="com.ciberdix.th.models.refactor.DivisionPoliticaAreas"/>
        <mapping class="com.ciberdix.th.models.refactor.DivisionPoliticaComunas"/>
        <mapping class="com.ciberdix.th.models.refactor.DivisionPoliticaLocalidades"/>
        <mapping class="com.ciberdix.th.models.refactor.DivisionPoliticaResguardos"/>
        <mapping class="com.ciberdix.th.models.refactor.DivisionPoliticaTipos"/>
        <mapping class="com.ciberdix.th.models.refactor.Dotaciones"/>
        <mapping class="com.ciberdix.th.models.refactor.Empresas"/>
        <mapping class="com.ciberdix.th.models.refactor.EstructuraAreas"/>
        <mapping class="com.ciberdix.th.models.refactor.ExamenesPromociones"/>
        <mapping class="com.ciberdix.th.models.refactor.ExamenesPromocionesPreguntas"/>
        <mapping class="com.ciberdix.th.models.refactor.ExamenesPromocionesPreguntasRespuestas"/>
        <mapping class="com.ciberdix.th.models.refactor.Faltas"/>
        <mapping class="com.ciberdix.th.models.refactor.Formularios"/>
        <mapping class="com.ciberdix.th.models.refactor.FormulariosElementos"/>
        <mapping class="com.ciberdix.th.models.refactor.GruposCompetencias"/>
        <mapping class="com.ciberdix.th.models.refactor.GruposDotaciones"/>
        <mapping class="com.ciberdix.th.models.refactor.GruposFormaciones"/>
        <mapping class="com.ciberdix.th.models.refactor.GruposGestion"/>
        <mapping class="com.ciberdix.th.models.refactor.Listas"/>
        <mapping class="com.ciberdix.th.models.refactor.ListasAreasEstudios"/>
        <mapping class="com.ciberdix.th.models.refactor.ListasClasesViviendas"/>
        <mapping class="com.ciberdix.th.models.refactor.ListasEstadosBeneficios"/>
        <mapping class="com.ciberdix.th.models.refactor.ListasEstadosCiviles"/>
        <mapping class="com.ciberdix.th.models.refactor.ListasEstadosEstudios"/>
        <mapping class="com.ciberdix.th.models.refactor.ListasEstadosFaltas"/>
        <mapping class="com.ciberdix.th.models.refactor.ListasFactoresRh"/>
        <mapping class="com.ciberdix.th.models.refactor.ListasGeneros"/>
        <mapping class="com.ciberdix.th.models.refactor.ListasInstituciones"/>
        <mapping class="com.ciberdix.th.models.refactor.ListasIntensidades"/>
        <mapping class="com.ciberdix.th.models.refactor.ListasItems"/>
        <mapping class="com.ciberdix.th.models.refactor.ListasLateralidades"/>
        <mapping class="com.ciberdix.th.models.refactor.ListasMarcasVehiculos"/>
        <mapping class="com.ciberdix.th.models.refactor.ListasNivelesCargos"/>
        <mapping class="com.ciberdix.th.models.refactor.ListasNivelesEstudios"/>
        <mapping class="com.ciberdix.th.models.refactor.ListasParentescos"/>
        <mapping class="com.ciberdix.th.models.refactor.ListasSectoresEmpresas"/>
        <mapping class="com.ciberdix.th.models.refactor.ListasSubSectoresEmpresas"/>
        <mapping class="com.ciberdix.th.models.refactor.ListasTiposAfiliacion"/>
        <mapping class="com.ciberdix.th.models.refactor.ListasTiposArchivos"/>
        <mapping class="com.ciberdix.th.models.refactor.ListasTiposContratos"/>
        <mapping class="com.ciberdix.th.models.refactor.ListasTiposDatos"/>
        <mapping class="com.ciberdix.th.models.refactor.ListasTiposDirecciones"/>
        <mapping class="com.ciberdix.th.models.refactor.ListasTiposDocumentos"/>
        <mapping class="com.ciberdix.th.models.refactor.ListasTiposEstudios"/>
        <mapping class="com.ciberdix.th.models.refactor.ListasTiposFaltas"/>
        <mapping class="com.ciberdix.th.models.refactor.ListasTiposNomenclaturas"/>
        <mapping class="com.ciberdix.th.models.refactor.ListasTiposNomenclaturasComplementarias"/>
        <mapping class="com.ciberdix.th.models.refactor.ListasTiposPagos"/>
        <mapping class="com.ciberdix.th.models.refactor.ListasTiposPersonas"/>
        <mapping class="com.ciberdix.th.models.refactor.ListasTiposPreguntas"/>
        <mapping class="com.ciberdix.th.models.refactor.ListasTiposReferencias"/>
        <mapping class="com.ciberdix.th.models.refactor.ListasTiposServiciosVehiculos"/>
        <mapping class="com.ciberdix.th.models.refactor.ListasTiposVehiculos"/>
        <mapping class="com.ciberdix.th.models.refactor.ListasTiposViviendas"/>
        <mapping class="com.ciberdix.th.models.refactor.Localizaciones"/>
        <mapping class="com.ciberdix.th.models.refactor.Materias"/>
        <mapping class="com.ciberdix.th.models.refactor.Menus"/>
        <mapping class="com.ciberdix.th.models.refactor.MenusElementos"/>
        <mapping class="com.ciberdix.th.models.refactor.Ocupaciones"/>
        <mapping class="com.ciberdix.th.models.refactor.OcupacionesTipos"/>
        <mapping class="com.ciberdix.th.models.refactor.Procesos"/>
        <mapping class="com.ciberdix.th.models.refactor.Profesiones"/>
        <mapping class="com.ciberdix.th.models.refactor.Proveedores"/>
        <mapping class="com.ciberdix.th.models.refactor.ProveedoresServicios"/>
        <mapping class="com.ciberdix.th.models.refactor.Proyecciones"/>
        <mapping class="com.ciberdix.th.models.refactor.Requerimientos"/>
        <mapping class="com.ciberdix.th.models.refactor.RequerimientosActividades"/>
        <mapping class="com.ciberdix.th.models.refactor.RequerimientosAspirantes"/>
        <mapping class="com.ciberdix.th.models.refactor.RequerimientosCompras"/>
        <mapping class="com.ciberdix.th.models.refactor.RequerimientosPreguntas"/>
        <mapping class="com.ciberdix.th.models.refactor.RequerimientosReferidos"/>
        <mapping class="com.ciberdix.th.models.refactor.RequerimientosTics"/>
        <mapping class="com.ciberdix.th.models.refactor.Responsabilidades"/>
        <mapping class="com.ciberdix.th.models.refactor.Riesgos"/>
        <mapping class="com.ciberdix.th.models.refactor.RiesgosSubTipos"/>
        <mapping class="com.ciberdix.th.models.refactor.RiesgosTipos"/>
        <mapping class="com.ciberdix.th.models.refactor.Roles"/>
        <mapping class="com.ciberdix.th.models.refactor.RolesMenuElementos"/>
        <mapping class="com.ciberdix.th.models.refactor.RolesMenuElementosAcciones"/>
        <mapping class="com.ciberdix.th.models.refactor.Sedes"/>
        <mapping class="com.ciberdix.th.models.refactor.SedesAreas"/>
        <mapping class="com.ciberdix.th.models.refactor.SedesAreasCargos"/>
        <mapping class="com.ciberdix.th.models.refactor.SedesCentrosCostos"/>
        <mapping class="com.ciberdix.th.models.refactor.Temas"/>
        <mapping class="com.ciberdix.th.models.refactor.Terceros"/>
        <mapping class="com.ciberdix.th.models.refactor.TercerosAdaptacionesLaborales"/>
        <mapping class="com.ciberdix.th.models.refactor.TercerosAdaptacionesLaboralesAdjuntos"/>
        <mapping class="com.ciberdix.th.models.refactor.TercerosBeneficios"/>
        <mapping class="com.ciberdix.th.models.refactor.TercerosCapacitaciones"/>
        <mapping class="com.ciberdix.th.models.refactor.TercerosCargos"/>
        <mapping class="com.ciberdix.th.models.refactor.TercerosDisciplinarios"/>
        <mapping class="com.ciberdix.th.models.refactor.TercerosDisciplinariosActividades"/>
        <mapping class="com.ciberdix.th.models.refactor.TercerosDisciplinariosAdjuntos"/>
        <mapping class="com.ciberdix.th.models.refactor.TercerosDotaciones"/>
        <mapping class="com.ciberdix.th.models.refactor.TercerosDotacionesEntregas"/>
        <mapping class="com.ciberdix.th.models.refactor.TercerosEstudiosFormales"/>
        <mapping class="com.ciberdix.th.models.refactor.TercerosEstudiosNoFormales"/>
        <mapping class="com.ciberdix.th.models.refactor.TercerosEvaluaciones"/>
        <mapping class="com.ciberdix.th.models.refactor.TercerosEvaluacionesCompetencias"/>
        <mapping class="com.ciberdix.th.models.refactor.TercerosEvaluacionesCriterios"/>
        <mapping class="com.ciberdix.th.models.refactor.TercerosExamenes"/>
        <mapping class="com.ciberdix.th.models.refactor.TercerosExamenesAdjuntos"/>
        <mapping class="com.ciberdix.th.models.refactor.TercerosExamenesPromociones"/>
        <mapping class="com.ciberdix.th.models.refactor.TercerosExperienciasLaborales"/>
        <mapping class="com.ciberdix.th.models.refactor.TercerosFamiliares"/>
        <mapping class="com.ciberdix.th.models.refactor.TercerosLocalizaciones"/>
        <mapping class="com.ciberdix.th.models.refactor.TercerosMaterias"/>
        <mapping class="com.ciberdix.th.models.refactor.TercerosNovedades"/>
        <mapping class="com.ciberdix.th.models.refactor.TercerosNovedadesAdjuntos"/>
        <mapping class="com.ciberdix.th.models.refactor.TercerosNovedadesCampos"/>
        <mapping class="com.ciberdix.th.models.refactor.TercerosNovedadesPlanes"/>
        <mapping class="com.ciberdix.th.models.refactor.TercerosReferencias"/>
        <mapping class="com.ciberdix.th.models.refactor.TercerosRituales"/>
        <mapping class="com.ciberdix.th.models.refactor.TercerosRitualesCriterios"/>
        <mapping class="com.ciberdix.th.models.refactor.TiposNovedades"/>
        <mapping class="com.ciberdix.th.models.refactor.TiposNovedadesCampos"/>
        <mapping class="com.ciberdix.th.models.refactor.UsuarioGruposGestion"/>
        <mapping class="com.ciberdix.th.models.refactor.UsuarioRoles"/>
        <mapping class="com.ciberdix.th.models.refactor.Usuarios"/>
        <mapping class="com.ciberdix.th.models.refactor.VDivisionPolitica"/>
        <mapping class="com.ciberdix.th.models.refactor.VDivisionPoliticaRec"/>
        <mapping class="com.ciberdix.th.models.refactor.VTercerosFamiliares"/>
        <mapping class="com.ciberdix.th.models.refactor.VTercerosReferencias"/>
        <mapping class="com.ciberdix.th.models.refactor.ActividadesEconomicas"/>
        <mapping class="com.ciberdix.th.models.refactor.ActividadesEconomicasTipos"/>
        <mapping class="com.ciberdix.th.models.refactor.ListasCoberturasSalud"/>
        <mapping class="com.ciberdix.th.models.refactor.ListasEstadosJuridicos"/>
        <mapping class="com.ciberdix.th.models.refactor.ListasTiposOcupaciones"/>
        <mapping class="com.ciberdix.th.models.refactor.VTerceros"/>
        <mapping class="com.ciberdix.th.models.refactor.VTercerosEstudiosFormales"/>
        <mapping class="com.ciberdix.th.models.refactor.VTercerosEstudiosNoFormales"/>
        <mapping class="com.ciberdix.th.models.refactor.VTercerosExperienciasLaborales"/>
        <mapping class="com.ciberdix.th.models.refactor.VLocalizaciones"/>
        <mapping class="com.ciberdix.th.models.refactor.ListasTiposTerceros"/>
        <mapping class="com.ciberdix.th.models.refactor.VConstantes"/>
        <mapping class="com.ciberdix.th.models.refactor.ListasTallas"/>
        <mapping class="com.ciberdix.th.models.refactor.ListasEstratos"/>
        <mapping class="com.ciberdix.th.models.refactor.ListasTiposConstruccionViviendas"/>
        <mapping class="com.ciberdix.th.models.refactor.TercerosContactos"/>
        <mapping class="com.ciberdix.th.models.refactor.TercerosDatosClinicos"/>
        <mapping class="com.ciberdix.th.models.refactor.TercerosInmuebles"/>
        <mapping class="com.ciberdix.th.models.refactor.TercerosVehiculos"/>
        <mapping class="com.ciberdix.th.models.refactor.VTercerosVehiculos"/>
        <mapping class="com.ciberdix.th.models.refactor.VTercerosInmuebles"/>
        <mapping class="com.ciberdix.th.models.refactor.VHistoricoUsuarios"/>
        <mapping class="com.ciberdix.th.models.refactor.VUsuarioGruposGestion"/>
        <mapping class="com.ciberdix.th.models.refactor.VUsuarioRoles"/>
        <mapping class="com.ciberdix.th.models.refactor.VUsuarioRolesCantidad"/>
        <mapping class="com.ciberdix.th.models.refactor.VUsuarios"/>
        <mapping class="com.ciberdix.th.models.refactor.VTercerosDatosClinicos"/>
        <mapping class="com.ciberdix.th.models.refactor.VTercerosContactos"/>
        <mapping class="com.ciberdix.th.models.refactor.TercerosResidencias"/>
        <mapping class="com.ciberdix.th.models.refactor.ListasEstadosCargos"/>
        <mapping class="com.ciberdix.th.models.refactor.ListasTiposNovedades"/>
        <mapping class="com.ciberdix.th.models.refactor.VFaltas"/>
        <mapping class="com.ciberdix.th.models.refactor.CargosOcupaciones"/>
        <mapping class="com.ciberdix.th.models.refactor.ListasAtributosCargos"/>
        <mapping class="com.ciberdix.th.models.refactor.ListasTiposCargosRelaciones"/>
        <mapping class="com.ciberdix.th.models.refactor.Ponderaciones"/>
        <mapping class="com.ciberdix.th.models.refactor.Productividades"/>
        <mapping class="com.ciberdix.th.models.refactor.VCargos"/>
        <mapping class="com.ciberdix.th.models.refactor.CargosExamenes"/>
        <mapping class="com.ciberdix.th.models.refactor.ListasExamenes"/>
        <mapping class="com.ciberdix.th.models.refactor.VCargosRiesgos"/>
        <mapping class="com.ciberdix.th.models.refactor.CargosEstadosObservaciones"/>
        <mapping class="com.ciberdix.th.models.refactor.VCargosResponsabilidades"/>
        <mapping class="com.ciberdix.th.models.refactor.VCargosB"/>
        <mapping class="com.ciberdix.th.models.refactor.VCargosExamenes"/>
        <mapping class="com.ciberdix.th.models.refactor.VCargosRolesProcesos"/>
        <mapping class="com.ciberdix.th.models.refactor.ListasRolesProceso"/>
        <mapping class="com.ciberdix.th.models.refactor.VCargosElementos"/>
        <mapping class="com.ciberdix.th.models.refactor.ListasTiposElementos"/>
        <mapping class="com.ciberdix.th.models.refactor.VRiesgos"/>
        <mapping class="com.ciberdix.th.models.refactor.EstructuraOrganizacional"/>
        <mapping class="com.ciberdix.th.models.refactor.ListasTiposEstructuras"/>
        <mapping class="com.ciberdix.th.models.refactor.EstructuraFisica"/>
        <mapping class="com.ciberdix.th.models.refactor.EstructuraOrganizacionalCargos"/>
        <mapping class="com.ciberdix.th.models.refactor.ListasClasificacionesSedes"/>
        <mapping class="com.ciberdix.th.models.refactor.Zonas"/>
        <mapping class="com.ciberdix.th.models.refactor.VEstructuraOrganizacional"/>
        <mapping class="com.ciberdix.th.models.refactor.VEstructuraFisica"/>
        <mapping class="com.ciberdix.th.models.refactor.VEstructuraOrganizacionalCargos"/>
        <mapping class="com.ciberdix.th.models.refactor.VTercerosCargos"/>
        <mapping class="com.ciberdix.th.models.refactor.Funcionalidades"/>
        <mapping class="com.ciberdix.th.models.refactor.FuncionalidadesControles"/>
        <mapping class="com.ciberdix.th.models.refactor.ListasClasificaciones"/>
        <mapping class="com.ciberdix.th.models.refactor.RolesFuncionalidades"/>
        <mapping class="com.ciberdix.th.models.refactor.RolesFuncionalidadesControles"/>
        <mapping class="com.ciberdix.th.models.refactor.RolesWidgets"/>
        <mapping class="com.ciberdix.th.models.refactor.UsuariosWidgets"/>
        <mapping class="com.ciberdix.th.models.refactor.Widgets"/>
        <mapping class="com.ciberdix.th.models.refactor.ListasEstadosProyecciones"/>
        <mapping class="com.ciberdix.th.models.refactor.ProyeccionesLaborales"/>
        <mapping class="com.ciberdix.th.models.refactor.VActividadesEconomicas"/>
        <mapping class="com.ciberdix.th.models.refactor.VProyeccionLaboral"/>

        <!-- DB schema will be updated if needed -->
        <!-- <property name="hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>